<!-- Precompiled alert with a complex design
<div class="sticky-alerts" style="font-size: 1rem;">
    <div class="alert alert-danger filled" role="alert" id="error-alert">
        <div id="alert-message">
            An unknown error has been produced. Please contact us.
        </div>
    </div>
    <div class="alert alert-success filled" role="alert" id="success-alert">
        <div id="alert-success">
        </div>
    </div>
</div>
-->

<!--Toast Error-->
<div class="toast-container position-absolute bottom-0 start-50 translate-middle-x p-3">
    <div id="toast-error" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div id="toast-error-message" class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <div class="me-2 m-auto">
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                    data-bs-theme="dark"></button>
            </div>
        </div>
    </div>
</div>

<!--Toast Success-->
<div class="toast-container position-absolute bottom-0 start-50 translate-middle-x p-3">
    <div id="toast-success" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div id="toast-success-message" class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <div class="me-2 m-auto">
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                    data-bs-theme="dark"></button>
            </div>
        </div>
    </div>
</div>