{% extends "base.html" %}

{% block body %}

{% include "alert.html" %}
{% include "sidebar.html" %}

<div id="main_container" class="container-sm" style="height:100vh;display:block"><!--container-->
    <!-- col: -->
    <div class="d-flex flex-column p-2" style="height:100%;">
        <!--Card Personal info-->
        <div class="card p-5 m-auto mt-auto mb-auto w-100" style="max-width:540px;">
            <!--Card-->
            popo
        </div>
        <!--column-->
    </div>
</div>

{%- endblock body %}

{% block scripts %}


<script src="{{ url_for('static', filename='js/signin.js')}}"></script>
{%- endblock scripts %}